 <header id="header" id="home">
      <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
          <div id="logo">
            <a href="#home"><img src="img/logo.png" alt="" title="" /></a>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
               <li class="menu-active"><a href="#home">Index</a></li>
              <!--<li><a href="#service">区块链</a></li> -->
              <li><a href="#products">Products</a></li>
              <li><a href="#testimonail">Team</a></li>
              <li><a href="#contact">Contact us</a></li>
              <li><a href="/">中文</a></li>
              <!--<li class="menu-has-children"><a href="">Pages</a>
                <ul>
                  <li><a href="generic.html">Generic</a></li>
                  <li><a href="elements.html">Elements</a></li>
                </ul>
              </li>-->
            </ul>
          </nav><!-- #nav-menu-container -->		    		
        </div>
      </div>
    </header><!-- #header -->