<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="img/fav.png">
  <!-- Author Meta -->
  <meta name="author" content="codepixer">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>万泰洲合国际控股有限公司</title>

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/hexagons.min.css">										
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

  <%- include("./header.ejs") %>
   


    <!-- start banner Area -->
    <section class="banner-area relative" id="home">

      <div class="overlay overlay-bg" id="bg_anim"></div>
      
      <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
          <div class="banner-content col-lg-9 col-md-12">
            <h1 class="text-white text-uppercase">
              不断开拓，成就未来!				
            </h1>
            <h1 class="text-white text-uppercase">
             &nbsp				
            </h1>
            <h1 class="text-white text-uppercase">
               &nbsp				
            </h1>
            <h1 class="text-white text-uppercase">
               &nbsp				
            </h1>
            <p class="text-white">
              西安洲合万泰电子商务有限公司是一家专注于中非贸易往来，深耕苏丹市场的专业互联网国际贸易公司。
            </p>
            <p class="text-white">
              公司着眼“一带一路”，关注非洲市场，在当地尤其是苏丹有着十分优质的产品资源以及丰富的业务经验。<br>
              目前公司主要进口产品为<span style="font-weight:bold"> 苜蓿草，芝麻，花生，花生饼，棉花 </span>等农产品。<br>
              主要出口产品为<span style="font-weight:bold"> 牵引车，拖车，三轮摩托，叉车，碾金机，色选机 </span>等机械产品。           
            </p>
            <a href="#contact" class="primary-btn text-uppercase">联系我们！</a>
          </div>											
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <!-- Start quote Area -->
    <section class="quote-area pt-100" id="products">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 col-sm-12 quote-left">
            <h2 class="text-right">
              <span>进口产品</span><br>
              <br>
              <span></span>
            </h2>
          </div>
          <div class="col-lg-7 col-sm-12 quote-right">
            <p class="text-left">
              非洲有着丰富的自然资源和广阔的市场空间，是“一带一路” 发展战略的重要受益区域，
              我公司凭借自身其在非洲丰富的市场经验和广泛的业务关系，积极致力于推动中非双边贸易，非洲优质的农产品在中国有着广阔的市场空间，
              目前我司主营产品有苜蓿草，芝麻，花生，棉花，花生饼，阿拉伯胶等。
            </p>
          </div>
        </div>
      </div>	
    </section>
    <!-- End quote Area -->

    <!-- Start import Area -->
    <section class="cat-area section-gap" id="import">
      <div class="container">							
        <div class="row">
          <div class="col-lg-4">	
            <div class="single-cat d-flex flex-column">
              <img class="mx-auto" src="img/ip1.png" alt="">
             <!--<a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-magic-wand"></span></span></a> -->
              <h4 class="mb-20" style="margin-top: 23px;">白芝麻</h4>
              <p>
                 非洲优质一级白芝麻，含油50%以上，颗粒饱满，杂质少。芝麻含有大量的脂肪、蛋白质、维生素、卵磷脂、钙、铁、镁等丰富营养成分.
              </p>
            </div>															
          </div>
          <div class="col-lg-4">	
            <div class="single-cat">
            <!--  <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-rocket"></span></span></a>-->
               <img class="mx-auto" src="img/ip2.png" alt="">
              <h4 class="mt-40 mb-20">花生饼</h4>
              <p>
                非洲优质花生饼，含油量高、蛋白高、黄曲霉素含量低。花生饼蛋白含量高口感较好，比较适合于禽畜水产饲料中使用。
              </p>
            </div>															
          </div>
          <div class="col-lg-4">
            <div class="single-cat">
             <!--  <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-bug"></span></span></a> -->
             <img class="mx-auto" src="img/ip3.png" alt="">
              <h4 class="mt-40 mb-20">苜蓿草</h4>
              <p>
                非洲优质苜蓿草，高蛋白、高RFV、新鲜杂质少。苜蓿草主要用于奶牛养殖业，实践表明，要想奶牛单产达到8000千克.年以上水平则必须饲喂苜蓿等优质青干草，苜蓿草被称为“牧草之王”。
              </p>
            </div>							
          </div>
           <div class="col-lg-4">
            <div class="single-cat">
             <!--  <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-bug"></span></span></a> -->
             <img class="mx-auto" src="img/ip4.png" alt="">
              <h4 class="mt-40 mb-20">棉花</h4>
              <p>
               非洲优质棉花，颜色白，杂质少，弹力大，蓬松性好，是优质的的天然服被填充材料。
              </p>
            </div>							
          </div>
           <div class="col-lg-4">
            <div class="single-cat">
             <!--  <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-bug"></span></span></a> -->
             <img class="mx-auto" src="img/ip5.png" alt="">
              <h4 class="mt-40 mb-20">花生</h4>
              <p>
               非洲优质花生，蛋白含量高，含油高，破碎率低。花生含水溶性蛋白和盐溶性蛋白，且不含胆固醇，其营养价值高可促进人体的新陈代谢、具有增强记忆力，可益智、抗衰老、延寿的作用。
              </p>
            </div>							
          </div>
           <div class="col-lg-4">
            <div class="single-cat">
             <!--  <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-bug"></span></span></a> -->
             <img class="mx-auto" src="img/ip6.png" alt="">
              <h4 class="mt-40 mb-20">阿拉伯胶</h4>
              <p>
                非洲优质阿拉伯胶，也称为阿拉伯树胶，主要成分为高分子多糖类及其钙、镁和钾盐。琥珀色，且颗粒大而圆，用途广泛，尤其在食品添加的应用方面，例如做为饮料中的乳化助剂，保持香味的护囊剂等。
              </p>
            </div>							
          </div>

        </div>
      </div>	
    </section>
    <!-- End import Area -->					

     <!-- Start export Area -->
    <section class="feature-area relative" id="export">
      <img class="feature-img" src="img/exp1.png" alt="">
      <div class="container">				
        <div class="row align-items-center">
          <div class="col-lg-8 offset-lg-4 feature-right section-gap">
            <div class="row single-feature-wrap justify-content-end">
              <div class="title-wrap col-lg-10 col-sm-12">
                <h1>出口产品</h1>
                <p>
                  针对非洲市场需求，我公司目前针对非洲主要出口产品为重型牵引车，挂车，叉车，三轮摩托，碾金机，卡车轮胎，二手卡车等重型机械与配件。
                </p>									
              </div>

              <div class="col-lg-5">
                <div class="single-feature">
                  <h4>重型卡车</h4>
                  <p>
                    重汽HOWO 6X4 牵引车
                  </p>
                </div>
                <div class="single-feature">
                  <h4>拖车</h4>
                  <p>
                    各种挂车，罐车及运输车辆。
                  </p>
                </div>								
              </div>
              <div class="col-lg-5">
                <div class="single-feature">
                  <h4>轮胎</h4>
                  <p>
                    各型号三角卡车轮胎。
                  </p>
                </div>
                <div class="single-feature">
                  <h4>三轮摩托</h4>
                  <p>
                    恒胜金河各型载人载货三轮摩托。
                     </p>
                </div>								
              </div>	
            									
            </div>						
          </div>
        </div>
      </div>	
    </section>
    <!-- End export Area -->

    		
        
   
           
    <!-- Start counter Area -->
    <!--  <section class="counter-area section-gap" id="counter">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="single-counter">
              <h1 class="counter">2536</h1>
              <p>Happy Clients</p>								
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="single-counter">
              <h1 class="counter">6784</h1>
              <p>Total Projects</p>								
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="single-counter">
              <h1 class="counter">1059</h1>
              <p>Cups Coffee</p>								
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="single-counter">
              <h1 class="counter">12239</h1>
              <p>Tickets Submitted</p>								
            </div>
          </div>												
        </div>
      </div>	
    </section> -->  
    
    <!-- end counter Area -->	

    <!-- Start video Area -->
    <!-- <section class="video-area pb-100" id="video">
      <div class="container">
        <div class="row justify-content-center">
          <div class="video-section section-gap col-lg-12">
            <div class="text-wrap">
              <h1 class="text-white">Explore ourself in a new way</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore <br> magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              </p>
              <div class="play-btn-wrap">
                <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="play-btn">
                
                <img src="img/play-btn.png" alt=""> Watch Video
                </a>
              </div>								
            </div>
          </div>
        </div>
      </div>	
    </section>   -->  
      
    <!-- End video Area -->
                        
    <!-- Start callto-action-area Area -->
    <section class="callto-action-area section-gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <h1 class="text-white">想要采购我们的产品吗？</h1>
            <p class="text-white">
              如果您对我们的产品感兴趣，欢迎联系我们，我们会在第一时间跟你反馈当前最新价格等相关信息！
            </p>
            <a class="primary-btn" href="#contact">联系询价</a>							
          </div>
        </div>
      </div>	
    </section>
    <!-- End callto-action-area Area -->


    <!-- Start testomial Area -->
    <section class="testomial-area section-gap" id="testimonail">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-60 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">团队</h1>
              <p>西安洲合万泰电子商务有限公司拥有一支专业且专注的国际团队，拥有优秀的业务能力和执行效率。</p>
            </div>
          </div>
        </div>						
        <div class="row">
          <div class="active-tstimonial-carusel">
            <div class="single-testimonial item">
              <img class="mx-auto" src="img/a1.png" alt="">
              <p class="desc">
                联系电话： 15910871220</br>
               </p>
              <h4>何经理</h4>
            
            </div>
            <div class="single-testimonial ">
              <img class="mx-auto" src="img/a1.png" alt="">
              <p class="desc">
                联系电话： 15210750166</br>
              <h4>周经理</h4>
              
            </div>
            <div class="single-testimonial item">
              <img class="mx-auto" src="img/a1.png" alt="">
              <p class="desc">
                联系电话： 13034099886</br>
                <h4>郭经理</h4>
              
            </div>	
            
           													
          </div>
        </div>
      </div>	
    </section>
    <!-- End testomial Area -->			

    <!-- Start contact Area -->
    <section class="contact-area" id="contact">
      <div class="container">
        <div class="contact-section">
          <div class="row align-items-center">
            <div class="col-lg-4 contact-left">
              <div style=" width:100%;height: 545px;"></div>
            </div>
            <div class="col-lg-7 contact-right">
              <form class="form-area" id="myForm" action="/" method="post" class="contact-form text-right">
                <input name="fname" placeholder="请输入您的称呼" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入您的称呼'" class="common-input mt-10" required="" type="text">
                <input name="email" placeholder="请输入您的邮箱" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入您的邮箱'" class="common-input mt-10" required="" type="email">
                <textarea class="common-textarea mt-10" name="message" placeholder="请输入您的留言" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入您的留言'" required=""></textarea>
                <button class="primary-btn mt-20">发送信息<span class="lnr lnr-arrow-right"></span></button>
                <div class="alert-msg">
                </div>
              </form>
            </div>							
          </div>
        </div>
      </div>	
    </section>
    <!-- End contact Area -->
    
     <%- include("./footer.ejs") %>
    <%- include("./anami.ejs") %>

  </body>
</html>



