<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="img/fav.png">
  <!-- Author Meta -->
  <meta name="author" content="codepixer">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>万泰洲合国际控股有限公司</title>

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/hexagons.min.css">										
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

  <%- include("./header.ejs") %>
   


    <!-- start banner Area -->
    <section class="banner-area relative" id="home">


      <div class="overlay overlay-bg" id="bg_anim"></div>
      
      <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
          <div class="banner-content col-lg-9 col-md-12">
            <h1 class="text-white text-uppercase">
              不断开拓，成就未来!				
            </h1>
            <h1 class="text-white text-uppercase">
             &nbsp				
            </h1>
            <h1 class="text-white text-uppercase">
               &nbsp				
            </h1>
            <h1 class="text-white text-uppercase">
               &nbsp				
            </h1>
            <p class="text-white">
              万泰洲合（北京）商贸有限公司是一家专注于中非贸易往来，深耕苏丹市场的专业国际贸易公司。
            </p>
            <p class="text-white">
              公司着眼“一带一路”，关注非洲市场，在当地尤其是苏丹有着十分优质的产品资源以及丰富的业务经验。
<br>
              目前公司主要进口产品为<span style="font-weight:bold"> 苜蓿草，芝麻，花生，花生饼，花生油，棉花 </span>等农产品。<br>
              主要出口产品为<span style="font-weight:bold"> 牵引车，拖车，三轮摩托，叉车，碾金机，色选机 </span>等机械产品。           
            </p>
            <a href="#contact" class="primary-btn text-uppercase">联系我们！</a>
          </div>											
        </div>
      </div>
    </section>
    <!-- End banner Area -->				

    
    <!-- Start quote Area -->
    <section class="quote-area pt-100">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 col-sm-12 quote-left">
            <h2 class="text-right">
              <span>出口产品</span><br>
              <br>
              <span></span>
            </h2>
          </div>
          <div class="col-lg-7 col-sm-12 quote-right">
            <p class="text-left">
              区块链技术被认为是继蒸汽机、电力、互联网之后，下一代颠覆性的核心技术。 如果说蒸汽机释放了人们的生产力，电力解决了人们基本的生活需求，互联网彻底改变了信息传递的方式，那么区块链作为构造信任的机器，将可能彻底改变整个人类社会价值传递的方式.区块链几乎可以应用到任何领域，在金融、物流、公共服务等领域都有大量案例,由于区块链技术具有多方共识，交易溯源，不可篡改等技术特点，使它在确保信息可信、安全、可追溯等方面具有传统技术不可比拟的优势。
            </p>
          </div>
        </div>
      </div>	
    </section>
    <!-- End quote Area -->

    <!-- Start cat Area -->
    <section class="cat-area section-gap" id="service">
      <div class="container">							
        <div class="row">
          <div class="col-lg-4">	
            <div class="single-cat d-flex flex-column">
              <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-magic-wand"></span></span></a>
              <h4 class="mb-20" style="margin-top: 23px;">Dfinity</h4>
              <p>
                 DFINITY是一台在网络空间的电脑主机，完全虚拟和创建在一个去中心化的网络之上，易于使用, 不中断, 防篡改. “重新定义” 企业IT并通过降低人力成本需求从而消减企业90%的开支。
              </p>
            </div>															
          </div>
          <div class="col-lg-4">	
            <div class="single-cat">
              <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-rocket"></span></span></a>
              <h4 class="mt-40 mb-20">Ethereum</h4>
              <p>
                以太坊（Ethereum）是一个开源的有智能合约功能的公共区块链平台。通过其专用加密货币以太币（Ether）提供去中心化的虚拟机（EVM）来处理点对点合约。以太币是市值第二高的加密货币，仅次于比特币。
              </p>
            </div>															
          </div>
          <div class="col-lg-4">
            <div class="single-cat">
              <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-bug"></span></span></a>
              <h4 class="mt-40 mb-20">Hypernet</h4>
              <p>
               Hypernet是一个分布式设备网络进行高性能计算协议, 来自斯坦福大学的在计算机科学领域的顶级团队，Hypernet已经建立了一个新的编程模型解决共享算力的问题，并努力将使它成为下一个计算时代的支柱。
              </p>
            </div>							
          </div>
        </div>
      </div>	
    </section>
    <!-- End cat Area -->			
        
    <!-- Start feature Area -->
    <section class="feature-area relative" id="feature">
      <img class="feature-img" src="img/f11.jpg" alt="">
      <div class="container">				
        <div class="row align-items-center">
          <div class="col-lg-8 offset-lg-4 feature-right section-gap">
            <div class="row single-feature-wrap justify-content-end">
              <div class="title-wrap col-lg-10 col-sm-12">
                <h1>贸易产品</h1>
                <p>
                  对接非洲第一手优质资源，提供优质的门到门服务及产品
                </p>									
              </div>

              <div class="col-lg-5">
                <div class="single-feature">
                  <h4>芝麻</h4>
                  <p>
                    非洲优质一级白芝麻，含油50%以上，颗粒饱满，杂质少。芝麻含有大量的脂肪、蛋白质、维生素、卵磷脂、钙、铁、镁等丰富营养成分.
                  </p>
                </div>
                <div class="single-feature">
                  <h4>苜蓿草</h4>
                  <p>
                    非洲优质苜蓿草，高蛋白、高RFV、新鲜杂质少。苜蓿草主要用于奶牛养殖业，实践表明，要想奶牛单产达到8000千克.年以上水平则必须饲喂苜蓿等优质青干草，苜蓿草被称为“牧草之王”。
                  </p>
                </div>								
              </div>
              <div class="col-lg-5">
                <div class="single-feature">
                  <h4>花生饼</h4>
                  <p>
                    非洲优质花生饼，含油量高、蛋白高、黄曲霉素含量低。花生饼蛋白含量高口感较好，比较适合于禽畜水产饲料中使用。
                  </p>
                </div>
                <div class="single-feature">
                  <h4>阿拉伯胶</h4>
                  <p>
                    非洲优质阿拉伯胶，也称为阿拉伯树胶，主要成分为高分子多糖类及其钙、镁和钾盐。琥珀色，且颗粒大而圆，用途广泛，尤其在食品添加的应用方面，例如做为饮料中的乳化助剂，保持香味的护囊剂等。
                </div>								
              </div>									
            </div>						
          </div>
        </div>
      </div>	
    </section>
    <!-- End feature Area -->
            
    <!-- Start counter Area -->
  <!--  <section class="counter-area section-gap" id="counter">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="single-counter">
              <h1 class="counter">2536</h1>
              <p>Happy Clients</p>								
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="single-counter">
              <h1 class="counter">6784</h1>
              <p>Total Projects</p>								
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="single-counter">
              <h1 class="counter">1059</h1>
              <p>Cups Coffee</p>								
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="single-counter">
              <h1 class="counter">12239</h1>
              <p>Tickets Submitted</p>								
            </div>
          </div>												
        </div>
      </div>	
    </section>
    -->
    <!-- end counter Area -->	

    <!-- Start video Area -->
  <!--    <section class="video-area pb-100" id="video">
      <div class="container">
        <div class="row justify-content-center">
          <div class="video-section section-gap col-lg-12">
            <div class="text-wrap">
              <h1 class="text-white">Explore ourself in a new way</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore <br> magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              </p>
              <div class="play-btn-wrap">
                <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="play-btn">
                
                <img src="img/play-btn.png" alt=""> Watch Video
                </a>
              </div>								
            </div>
          </div>
        </div>
      </div>	
    </section>
      -->
    <!-- End video Area -->
                            
    <!-- Start callto-action-area Area -->
    <section class="callto-action-area section-gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <h1 class="text-white">想要采购我们的产品吗？</h1>
            <p class="text-white">
              如果您对我们的产品感兴趣，欢迎联系我们，我们会在第一时间跟你反馈当前最新价格等相关信息！
            </p>
            <a class="primary-btn" href="#contact">联系询价</a>							
          </div>
        </div>
      </div>	
    </section>
    <!-- End callto-action-area Area -->


    <!-- Start testomial Area -->
    <section class="testomial-area section-gap" id="testimonail">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-60 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">团队</h1>
              <p>万泰洲合国际控股公司拥有一支专业且专注的国际团队，来自于中国和非洲，拥有优秀的业务能力和执行效率。</p>
            </div>
          </div>
        </div>						
        <div class="row">
          <div class="active-tstimonial-carusel">
            <div class="single-testimonial item">
              <img class="mx-auto" src="img/t1.png" alt="">
              <p class="desc">
                联系电话： 15910871220</br>
                邮箱：     hehao@wonderoceantrade.com
              </p>
              <h4>何好</h4>
              <p>
                CEO
              </p>
            </div>
            <div class="single-testimonial item">
              <img class="mx-auto" src="img/t2.png" alt="">
              <p class="desc">
                联系电话： 15910871220</br>
                邮箱：     hehao@wonderoceantrade.com</p>
              <h4>周存俭</h4>
              <p>
                总经理
              </p>
            </div>
            <div class="single-testimonial item">
              <img class="mx-auto" src="img/t3.png" alt="">
              <p class="desc">
                联系电话： 15910871220</br>
                邮箱：     hehao@wonderoceantrade.com</p>
              <h4>郭磊</h4>
              <p>
                业务经理
              </p>
            </div>	
            <div class="single-testimonial item">
              <img class="mx-auto" src="img/t1.png" alt="">
              <p class="desc">
               联系电话： 15910871220</br>
               邮箱：     hehao@wonderoceantrade.com
               </p>
              <h4>Mohammed</h4>
              <p>
                国际贸易经理
              </p>
            </div>
            <div class="single-testimonial item">
              <img class="mx-auto" src="img/t2.png" alt="">
              <p class="desc">
               联系电话： 15910871220</br>
              邮箱：     hehao@wonderoceantrade.com
                 </p>
              <h4>AlTohami</h4>
              <p>
                国际贸易经理
              </p>
            </div>
           													
          </div>
        </div>
      </div>	
    </section>
    <!-- End testomial Area -->			

    <!-- Start contact Area -->
    <section class="contact-area" id="contact">
      <div class="container">
        <div class="contact-section">
          <div class="row align-items-center">
            <div class="col-lg-4 contact-left">
              <div style=" width:100%;height: 545px;"></div>
            </div>
            <div class="col-lg-7 contact-right">
              <form class="form-area" id="myForm" action="/" method="post" class="contact-form text-right">
                <input name="fname" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mt-10" required="" type="text">
                <input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mt-10" required="" type="email">
                <textarea class="common-textarea mt-10" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                <button class="primary-btn mt-20">Send Message<span class="lnr lnr-arrow-right"></span></button>
                <div class="alert-msg">
                </div>
              </form>
            </div>							
          </div>
        </div>
      </div>	
    </section>
    <!-- End contact Area -->
    
    
 
     <%- include("./footer.ejs") %>
    <%- include("./anami.ejs") %>

  </body>
</html>



